@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>
        The Grande Gift Hamper was founded in 2007, initially as a subsidiary to food import and wholesale business Kingston Foods, owned by law school drop-out Emily McWaters. It made sense to start retailing gourmet hampers, as the individual products were already being wholesaled, and Emily had developed a strong network of reliable gourmet producers and suppliers from around the world.
    </p>
    <p>
        Emily’s first effort was not particularly glamorous or effective—a table in a shopping centre with wicker cellophane baskets. It quickly became evident that an online platform would be much more successful; so successful in fact that early last year the decision was made to sell Kingston Foods to focus solely on online pursuits. The SOL Group was formed in 2014, and the portfolio also includes Gifts Australia and Everything But Flowers.
    </p>
    <p>
        The shift in focus has resulted in remarkable growth over the past year, with Emily’s two sisters Amy and Libby joining the team in late 2014. The team is now 12 strong, and this number increases to around 50 during the lead-up to Christmas..
    </p>
</div>
