@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

<h3>Why Hamper Called Hamper</h3>

<div>
    <div>
        <p>The Oxford English Dictionary, for instance, defines it as a "large basket or wickerwork receptacle with a cover, generally used as a packing case. In earlier times, a case or casket generally, but from 1500 usually of wickerwork." The dictionary explains how the word would be used in 1552: "Hamper for women to put in spindels or bottomes of threade."</p>

        <p>The word hamper in America, according to the Dictionary of American Regional English, appears to be Southern in origin and usage. By the early 1800s, Southerners deposited fruits, vegetables or grains in a large bin they called a "bushel hamper" or "hamper basket."</p>

        <p>In 1897, the clothes hamper was on its way to becoming a popular product: Sears, Roebuck and Co. offered wicker models in three sizes for 65 to 85 cents.</p>

        <p>In this century, clothes hampers, baskets or bins have been the subject of no small discussion in popular magazines, with several emphases.</p>

        <p>According to Popular Mechanics (May 1930), it was possible to make an attractive hamper. The same magazine (June 1936 and January 1938), as well as Popular Science (March 1938), ran articles on combining the hamper with a dresser, sewing cabinet, dressing table and vanity.</p>

        <p>Finally, the magazines demonstrated that the hamper could be hidden or movable. Popular Science (January 1940) showed how it could be located under a water heater. And House Beautiful, nine years later, illustrated a "built-in, but movable, hamper." The magazine's advice: "Be clever about hiding your laundry."</p>

        <p>Under the heading "Gracious Gifts," House & Garden's December 1936 issue touted a "Hamper Set--Painted for the bathroom. Hamper, 19 inches tall, basket, 14 inches tall. Pink, blue, red, green, yellow, oyster. About $7 a set."</p>

        <p>With the new-home construction boom in the 1950s (one-fifth of all housing standing in 1960 had been built during the previous 10 years), built-in metal wall hampers became widespread. Some even had a place to stow away soap as well as clothes.</p>

        <p>Still, hideaway models were ubiquitous, some under the stairs, others under counters ("Under the counter go dirty clothes," declared Sunset magazine, July 1972), a few crowned with Masonite tops (Industrial Arts and Vocational Education magazine, January 1951). Then there was a hamper that doubled as a "laundry sorter" (Sunset, September 1974).</p>

        <p> Sears, Roebuck's 1966 fall and winter catalogue devoted three pages to hampers.</p>

        <p> Hampers imported from Italy, Spain and Holland illustrated the traditional wicker look, while American models featured ensembles--bench or upright hamper, wastebasket and brush holder--in vinyl decorated with tapestry, cane and other materials.</p>

        <p>A quarter-century later Sears, Roebuck's catalogue added, thanks to changing demographics, an apartment hamper. But hamper history was by no means closed by 1991.</p>

        <p> More recently, one firm has introduced molded plastic whale and dinosaur hampers for kids (18 by 18 by 30 inches, retailing at $29.99); another has devised a roll-around model on nylon casters with a heavy-duty removable drawstring bag, and still another has come up with hampers to fit recreational vehicles.</p>

        <p>The introduction of handcrafted woven maple hampers has provided a high-priced alternative for affluent consumers. And hampers in general have been employed by those inclined to substitute wadded-up dirty clothes for basketballs.</p>

        <p>Still, hampers seem to have a tie with their origin as "packing-cases" in the sense that clothes often are left to ripen and emit odors.</p>

        <p>American ingenuity hasn't been stymied by this untoward situation, however; remedies range from placing open boxes of baking soda on hamper bottoms in mild cases to pouring a layer of cat-box filler in severe ones.</p>
    </div>
</div>